<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<script src="https://use.fontawesome.com/6a4ab084c1.js"></script>

<div class="testbox">
    <form action="/" class="align">
      <h2 class="titulo">EDITAR PRODUCTOS</h2>

  <label id="icon" for="nombre"><i class="icon-user"></i></label>
  <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto" [(ngModel)]="producto.nombre"/>
  <label id="icon" for="precio"><i class="icon-money" aria-hidden="true"></i></label>
  <input type="text" name="precio" id="precio" placeholder="Precio" [(ngModel)]="producto.precio"/>
  <label id="icon" for="stock"></label>
  <input type="text" name="stock" id="stock" placeholder="Stock" [(ngModel)]="producto.stock"/>
  <label id="icon" for="estado"></label>
  <input type="text" name="estado" id="estado" placeholder="Estado" [(ngModel)]="producto.estado"/>
  <button (click)="Editar()" style="margin-left: 100px">ACTUALIZAR</button>
  </form>
</div>
